Guild ManagerIcono de rol, ⾕﹒🤖﹕Bots﹒
APP
 — 21:54
@!      brayxnzz / @⾕﹒🌌﹕Staff's﹒
🎁 Support Ticket 🎁 💖Thank you for trusting in Free Almacen💖 Please wait for a staff member to respond.
Cual es tu nombre? :flecha: Brayan
Que quieres reclamar?:flecha: Moderador
!      brayxnzz [GVNG], Icono de rol, ⾕﹒🪐﹕Users﹒ — 21:54
@!! Lowssz
 [GVNG], 
!! LowsszIcono de rol, ⾕﹒🪿﹕Co Founder﹒ — 21:59
helper o alter
Guild ManagerIcono de rol, ⾕﹒🤖﹕Bots﹒
APP
 — 21:59
📌 lowzzs ha reclamado el ticket.
!! LowsszIcono de rol, ⾕﹒🪿﹕Co Founder﹒ — 22:00
@!      brayxnzz
!      brayxnzz [GVNG], Icono de rol, ⾕﹒🪐﹕Users﹒ — 22:01
helper
 [GVNG], 
!! LowsszIcono de rol, ⾕﹒🪿﹕Co Founder﹒ — 22:01
ok
Postulacion a HELPER:
————————————————————————

Preguntas Generales
Edad
Nombre
País
Zona Horaria
¿Como llegaste al servidor?

————————————————————————

Preguntas helper

¿Que harás como helper?
¿Mencione 3 cosas importantes que los helperz hacen
¿Mencione 3 conocimientos importantes para ser helper
¿Porque decidió postular aquí?
¿Tienes experiencia?
¿Estas dispuesto a seguir todas las reglas?
¿Sabes usar comandos de sanciones? Menciona 5 o si no sabes responde "X".

————————————————————————

Preguntas Extra

¿Cual es tu stock actual? Haz una lista
¿Estas dispuesto a donar cosas de tu stock al servidor (si tienes)?

————————————————————————

¡AL TERMINAR HAZLE PING AL STAFF QUE TE ATENDIO!
max [༒〖𝓕], Icono de rol, Eva´s — 22:05
!      brayxnzz [GVNG], Icono de rol, ⾕﹒🪐﹕Users﹒ — 22:06
Postulacion a HELPER:
————————————————————————

Preguntas Generales
Edad : 14
Nombre: Brayan
País: CU
Zona Horaria: GMT-4
¿Como llegaste al servidor?
Me invito un amigo

————————————————————————

Preguntas helper

¿Que harás como helper?
Ayudar a mantener el chat en paz con orden y atender a los users
Mencione 3 cosas importantes que los helperz hacen
Mantener todo bajo control y dar soporte a los usuarios
¿Mencione 3 conocimientos importantes para ser helper
Saber mantener el chat bajo control, tomar medidas y atender tickets 
¿Porque decidió postular aquí?
Algunos amigos en el staff
¿Tienes experiencia?
Si, he sido staff en varios servers de rw
¿Estas dispuesto a seguir todas las reglas?
si
¿Sabes usar comandos de sanciones? Menciona 5 o si no sabes responde "X".
/ban
/mute
/kick

————————————————————————

Preguntas Extra

¿Cual es tu stock actual? Haz una lista
No tengo
¿Estas dispuesto a donar cosas de tu stock al servidor (si tienes)?
No tengo

————————————————————————

¡AL TERMINAR HAZLE PING AL STAFF QUE TE ATENDIO!
 [༒〖𝓕], 
!      brayxnzz [GVNG], Icono de rol, ⾕﹒🪐﹕Users﹒ — 22:06
:r1:
 [GVNG], 
!      brayxnzz [GVNG], Icono de rol, ⾕﹒🪐﹕Users﹒ — 22:06
@!! Lowssz
!! LowsszIcono de rol, ⾕﹒🪿﹕Co Founder﹒ — 22:06
OK
@max qopinas
@popbob
popbob [EVA], Icono de rol, Eva´s — 22:10
deja le pregunto a mi abogado